*.pyc
*.log
*.pyz
*.spec
*.manifest
*.pkg
*.toc
*.zip
*.egg-info/

venv/

test_venv/

Testing/

src/testing.py

versionfile.txt

__pycache__/
build/
builds/

dist/

start.build/
start.dist/
start.onefile-build/
start.exe

testing.py

.pypirc

pyrestsdk.egg-info/