*.pyc
*.log
*.pyz
*.spec
*.manifest
*.pkg
*.toc
*.zip

venv/

Testing/

src/testing.py

versionfile.txt

__pycache__/
build/
builds/

dist/

start.build/
start.dist/
start.onefile-build/
start.exe

testing.py